<html>
   <head>
      <title>Atualizando Registro</title>
   </head>
   <body>
      <br>
      <h2>Dados do celular</h2>
      <br>
      <br>
      <form method=post>
         <input type=hidden name=id value=10>
         <table>
            <tr>
               <td>IMEI</td>
               <td><input type=text name=name></td>
            </tr>
            <tr>
               <td>MARCA</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td>MODELO</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td>COR</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td>ANO</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td><input type=reset></td>
               <td><input type=submit></td>
            </tr>
         </table>
      </form>
   </body>
   </h>