<html>

<head>
    <title>Atualizando Registro</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<div class="d-flex justify-content-center">
		<div class="col-md-4 col-md-offset-4">
        <div class="card">
	        <div class="card-header">
	    		Celular
	  		</div>
            <div class="card-body">
                <form method=post class="col-md-8">
                		<input type="hidden" value="${id}">
                    <div class="form-group">
                        <label for="imei">IMEI</label>
                        <input type="imei" class="form-control" id="imei" name="imei" aria-describedby="imei" placeholder="Digite o imei" value="${imei}" required>
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca</label>
						<select id="marca" name="marca" class="form-control">
						    <option value="">Selecione</option>
							<!-- $beginBlock marcaBlock -->
							<option selected>${marca}</option>
							<!-- $endBlock marcaBlock -->
						</select>
                    </div>
                    <div class="form-group">
                        <label for="modelo">Modelo</label>
                        <input type="cor" class="form-control" id="modelo" name="modelo" aria-describedby="modelo" placeholder="Digite o modelo" value="${modelo}" required>
                    </div>
                    <div class="form-group">
                        <label for="cor">Cor</label>
                        <input type="ano" class="form-control" id="ano" name="cor" aria-describedby="cor" placeholder="Digite a cor" value="${cor}" required>
                    </div>
                    <div class="form-group">
                        <label for="ano">Ano</label>
                        <input type="ano" class="form-control" id="ano" name="ano" aria-describedby="ano" placeholder="Digite o ano" value="${ano}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <a href="listar" class="btn btn-info">Listar</a>
                    <button type="remover" class="btn btn-danger">Remover</button>
                    </form>
            </div>
        </div>

    </div>
		
	</div>
</body>
</h>