<html>
   <head>
      <title>Atualizando Registro</title>
   </head>
   <body>
      <br>
      <h2>Dados do proprietario</h2>
      <br>
      <br>
      <form method=post>
         <input type=hidden name=id value=10>
         <table>
            <tr>
               <td>NOME</td>
               <td><input type=text name=name></td>
            </tr>
            <tr>
               <td>NASCIMENTO</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td>TELEFONE</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td>ENDERECO</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td>CPF</td>
               <td><input type=text name=email></td>
            <tr>
            </tr>
            <tr>
               <td><input type=reset></td>
               <td><input type=submit></td>
            </tr>
         </table>
      </form>
   </body>
   </h>