<html>
   <head>
    <title>Listando Registros</title>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
      <br>
      <br>
      <br>
      <form method=post>
         <input type=hidden name=id value=10>
         <table>
            <tr>
               <td><input type="cpf" class="form-control" id="cpf" name="cpf" aria-describedby="cpf" placeholder="Digite o cpf"></td>
               <td><button type="submit" class="btn btn-primary">Procurar</button></td>
               <td><a href="cadastro" class="btn btn-info">Cadastrar</a></td>
            </tr>
            </tr>
			<table class="table">
			  <thead>
			  	<h1>Pessoas</h1>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="col">CPF</th>
			      <th scope="col">NOME</th>
			      <th scope="col">NASCIMENTO</th>
			      <th scope="col">TELEFONE</th>
			      <th scope="col">EMAIL</th>
			      <th scope="col">CIDADE</th>
			      <th scope="col">ESTADO</th>
			      <th scope="col">CEP</th>
			      <th scope="col">CARRO</th>
			      <th scope="col">ACAO</th>
				<!-- $beginBlock manterpessoa -->
						<tr>
							<td style="display:none;">${id}</td>
							<td>${cpf}</td>
							<td>${nome}</td>
							<td>${nascimento}</td>
							<td>${telefone}</td>
							<td>${email}</td>
							<td>${cidade}</td>
							<td>${estado}</td>
							<td>${cep}</td>
							<td>${carro}</td>
							
							<td>
								<a href="cadastro?id=${id}">Editar</a>
								<a href="remover?id=${id}">Remover</a>
							</td>
						</tr>
				<!-- $endBlock manterpessoa -->
			      
			    </tr>
			  </tbody>
			</table>
         </table>
      </form>
   </body>
   
   </h>