<html>
   <head>
      <title>Atualizando Registro</title>
        <title>Bootstrap Example</title>
  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      <br>
      <br>
      <br>
      <form method=post>
         <input type=hidden name=id value=10>
         <table>
            <tr>
               <td><input type="imei" class="form-control" id="imei" name="imei" aria-describedby="imei" placeholder="Digite o imei"></td>
               <td><button type="submit" class="btn btn-primary">Procurar</button></td>
               <td><a href="cadastro" class="btn btn-info">Cadastrar</a></td>
            </tr>
            </tr>
			<table class="table">
			  <thead>
			  	<h1>Celulares</h1>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">Indice</th>
			      <th scope="col">IMEI</th>
			      <th scope="col">MARCA</th>
			      <th scope="col">MODELO</th>
			      <th scope="col">COR</th>
			      <th scope="col">ANO</th>
			      <th scope="col">ACAO</th>
			      <td>##</td>
			      
			    </tr>
			  </tbody>
			</table>
         </table>
      </form>
   </body>
   </h>